.Home{
    background-color: black;
}
.homee{
    background-color: black;
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    margin: 0PX;

    /* margin-top: 5px; */
}
.live{
   /* color: aqua; */
    /* margin-top: 120px; */
}
.btn{
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 10px 10px 10px;
    width: 150px;

}
h1{
    /* margin-top: 20px; */
}
.inp{
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    height: 20px;
}